<%- include("./partials/header")  %>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Todo App</a>
</nav>

<div class="container mt-5">
  <form action="/add/todo" method="POST" class="d-flex">
    <input type="text" name="todo" class="form-control" placeholder="Enter Task">
    <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-1">
  </form>
  
  <table class="table table-striped ">
    <thead>
      <tr class="home">
        <th >Text</th>
        <th >Date</th>
        <th >Status</th>
      </tr>
    </thead>
    <tbody>
      <% todo.forEach(function(todos) { %>
        <tr>
          <td><%= todos.text %></td>
          <td><%= todos.date %></td>
          <td>
            <% if (todos.completed == false) { %>
              В процессе выполнения
              <% } else { %>
                Выполнено
                <% }%>            
              </td>
              <td><% if (todos.completed == false) { %>
                <a class="btn btn-md btn-success mx-0" href="/execute/<%= todos._id  %>">Execute</a>
                <% } else { %>
                  <a class="btn btn-md btn-secondary mx-0" style="font-size: smaller;" href="/execute/<%= todos._id  %>">Make active</a>
                  <% }%>   </td>
                  <td><a class="btn btn-md btn-warning mx-0" href="/edit/todo/<%= todos._id  %>">Edit</a></td>
                  <td><a class="btn btn-md btn-danger mx-0" href="/delete/todo/<%= todos._id %>" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          
          
          
          
          
          <%- include("./partials/footer")  %>